@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background: #E6DADA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e9698, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b3b9bb, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
}
.logo {
  width: 200px;
}
.contenedorNav {
  background-color: rgb(246, 246, 246);
}
#carrito {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.productos { 
  padding: 10px;
  text-align: start;
}
.productoCard {
  width: 320px;
  padding: 10px;
  margin: 10px;
  
}
.nombreProducto{
  margin-top: 6px;
  font-size: 18px;
  color: rgb(14, 14, 14);
  font-weight: 700;
}

.titulo {
  text-align: center;
  font-size: 1.8rem;
  color: rgb(14, 14, 14);
}

.contenedorCarrito {
  background-color: #f2f1f1e1;
  padding: 10px;
  font-size: 0.7rem;
  width: 400px;
}
.tuCarrito {
  font-size: 1.2rem;
}

img {
  width:100%
}
.bottonAgregarCarrito {
  margin-top: 5px;
  font-size: 12px;
  border-radius: 6px;
  background-color: rgb(224, 224, 224);
  color: rgb(10, 10, 10);
  padding: 4px;
  border: none;
  width: 100%;
}
.bottonAgregarCarrito:hover {
  background-color: rgba(207, 108, 54, 0.69);
  color: white;
}
.botonVerProducto {
  font-size: 12px;
  background-color: rgb(47, 47, 47);
  color: rgb(192, 188, 188);
  padding: 4px;
  border-radius: 6px;
  border: none;
  width: 100%;
}
.botonVerProducto:hover{
    background-color: #9e9e9e;
    color: rgb(10, 10, 10);
    font-weight: 500;
}
.botonPagarProducto{
    font-size: 12px;
  background-color: rgb(47, 47, 47);
  color: rgb(192, 188, 188);
  padding: 4px;
  border-radius: 6px;
  border: none;
  width: 100%;
  cursor: pointer;
}
.botonPagarProducto:hover{
  background-color: #9e9e9e;
  color: rgb(10, 10, 10);
  font-weight: 500;
}
.botonEliminar{
  font-size: 12px;
  background-color: rgb(47, 47, 47);
  color: rgb(210, 210, 210);
  padding: 5px;
  border: none;
}
.parrafoSize{
  color: #414141;
}

.precioProducto {
  font-size: 16px;
  color: rgb(14, 14, 14);
  font-weight: 700;
  cursor: pointer;
}
.lista {
  margin: 7px;
  font-size: 0.8rem;
  color: rgb(15, 15, 15);
  font-weight: 500;
  background-color: transparent;
}

.close {
  width: 110px;
  font-size: 13px;
  background-color: rgb(224, 224, 224);
  color: rgb(24, 21, 21);
  padding: 4px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
}

.containerModal {
  color: rgb(14, 14, 14);
  border: none;
  background-color: #ffffff;
}

.divCarrito{
  background-color: #c9c9c996;
  padding: 20px;
}
.pagos{
  font-size: 16px;
  color: rgb(14, 14, 14);
  font-weight: 400;
  cursor: pointer;

}

.ico{
  width: 40px;
  cursor: pointer;
}
.icoCarrito{
  width: 35px;
  cursor: pointer;
  
}

/* Loader */

.virtual-card,
.physical-card,
.tokenized-card {
  margin: 0 50px;
}

.plus {
  animation: plus 2s cubic-bezier(0.34, 1.56, 0.64, 1) infinite;
}

.plus-one {
  animation: plus 2.5s cubic-bezier(0.34, 1.56, 0.64, 1) infinite;
}

.plus-two {
  animation: plus 3s cubic-bezier(0.34, 1.56, 0.64, 1) infinite;
}

.plus-three {
  animation: plus 3.5s cubic-bezier(0.34, 1.56, 0.64, 1) infinite;
}

.plus-four {
  animation: plus 4s cubic-bezier(0.34, 1.56, 0.64, 1) infinite;
}

.plus-five {
  animation: plus 4.5s cubic-bezier(0.34, 1.56, 0.64, 1) infinite;
}

@keyframes plus {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.contenedorVolver{
  width: 200px;
}